
.modal{
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 528px;
    height: 581px;
    background-color: #ffffff;
  
  }

    .backdrop{
      position: fixed;
      width: 100vw;
      height: 100%;
    }

     .contact-form-checkbox-wrapper {
       margin-left: 14px;
  
     }

         .submit-btn {
    
           display: block;
           margin: 40px auto;
         
           height: 50px;
           background-color: var(--decoration-color);
           outline: none;
           border-color: #2196f3;
           border-radius: 4px;
           color: #ffffff;
    
    
    
           font-family: "Roboto", sans-serif;
    
    
           font-weight: 700;
           font-size: 16px;
           line-height: 1.87;
         }
  
@media screen and (max-width: 479px){

  .modal{
    width: 100vw;
    height: 609px;
  }

     .contact-form-checkbox-label{
      display: flex;
      flex-wrap: wrap;
     }

         .contact-form-checkbox-label{
          max-width: 200px;
         }

                 .submit-btn{
                  margin: 0 auto 0 auto;
                 }
                                 .contact-form-checkbox-wrapper {
                                   margin-left: 14px;
                
                                 }
                                                                                         .contact-form-checkbox-label {
                                                                                           font-family: "Roboto", sans-serif;
                                                                                           display: inline-block;
                                                                                           align-items: center;
                                                                                           margin-top: 20px;
                                                                                           font-weight: 400;
                                                                                           font-size: 12px;
                                                                                           line-height: 1.71;
                                                                                           color: rgba(117, 117, 117, 1);
                                            
                                                                                           &::before {
                                                                                             display: inline-block;
                                                                                             box-shadow: inset 0 0 0 1px #000000;
                                            
                                                                                             border-radius: 2px;
                                                                                             content: "";
                                                                                             width: 16px;
                                                                                             height: 15px;
                                                                                             border: 1px solid #212121;
                                                                                             cursor: pointer;
                                                                                             margin-right: 7px;
                                                                                             transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                                                                           }
                                            
                                                                                         }
                                               .submit-btn{
                                                height: 20px;
                                                font-size: 8px;
                                               }
}

@media screen and (min-width: 480px) {

  .modal {
      width: 450px;
      height: 609px;
      top: 46%;
    }

    .backdrop{
      max-width: 100%;
      height: 100%;
    
    }

            .contact-form-checkbox-label {
              font-family: "Roboto", sans-serif;
              display: inline-block;
              align-items: center;
              margin-top: 20px;
              font-weight: 400;
              font-size: 12px;
              line-height: 1.71;
              color: rgba(117, 117, 117, 1);
      
              &::before {
                display: inline-block;
                box-shadow: inset 0 0 0 1px #000000;
      
                border-radius: 2px;
                content: "";
                width: 16px;
                height: 15px;
                border: 1px solid #212121;
                cursor: pointer;
                margin-right: 7px;
                transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
              }
      
            }

       
}

@media screen and (min-width: 768px){

.modal {

    top: 46%;
  }

}

@media screen and (min-width: 1200px) {

    .modal {
        width: 528px;
        height: 581px;
      }
    
      .backdrop {
        width: 100%;
        height: 100%;
    
      }

                .contact-form-checkbox-label {
              
                  font-size: 14px;
                 
        
                }
}
  
 
  
  .contact-form-message{
    border: solid 1px rgba(33, 33, 33, 0.2);;
    border-radius: 4px;
    resize: none;
    padding: 12px;
    width: 100%;
    min-height: 120px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    font-family: "Roboto", sans-serif;
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  &::placeholder{
    color: rgba(117, 117, 117, 0.5)
  
  
  }

  &:focus{
    border: solid 1px var(--decoration-color);
    outline: none;
  }
  
  }
  
  .my-wripper-div{
  position: relative;
  display: block;
  }
  
  .my-svg-wrapper{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .label-form-style{
    font-family: "Roboto", sans-serif;
   display: block;
   margin-bottom: 4px;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.17;
  
   
   color: #757575;
  }
  
  .form-p{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
  margin-bottom: 12px;
    display: block;
  
  text-align: center;
  
  }
  
  
  .contact-form-input:focus{
    border-color: var(--decoration-color);
    outline: none;

    .contact-form-input:focus + .my-svg-wrapper{
      fill: var(--decoration-color);
    }
  }
  
 
  
  .contact-form-input{
    width: 100%;
   height: 40px;
   border: solid 1px rgba(33, 33, 33, 0.2);
   border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child){
    margin-bottom: 10px;
    display: block;
  }
  
  }
  

  
  
  .close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus{
      fill: var(--decoration-color)
    }
  
    &:hover{
      fill: var(--decoration-color);
    }
  }
  

  

  
  
  .contact-chckbox:checked + .contact-form-checkbox-label::before{
  
  background-image: url(../imagine/popitka-two.svg);
    background-color: var(--decoration-color);
  
    background-size: contain;
    background-repeat: no-repeat;
    border: solid 0.2px var(--decoration-color);
    box-shadow: inset 0 0 0 1px var(--decoration-color);
  }
  
  
  .contact-chckbox:focus + .contact-form-checkbox-label::before{
    border: solid 1px var(--decoration-color);
    box-shadow: inset 0 0 0 1px var(--decoration-color);
  }
  

  
  
  

  

  
  .my-check-link{
    color: var(--decoration-color);
    text-decoration: none;
  }
  
  
.backdrop{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
  
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1) ;

  &.is-hidden{
    opacity: 1;
    visibility: visible;
    pointer-events: fill;
 
    &.modal{
     transform: translate(-50%, -50%) scale(1);
   
   }
   } }
   

  
  
  .a-list:hover,
  .a-list:focus{
    color: var(--decoration-color);
  }
  