            .submit-footer {
              margin-left: auto;
              display: flex;
              justify-content: center;
              align-items: center;
            }

.project-list {

  flex-wrap: wrap;
  display: flex;
  box-sizing: border-box;
  flex-basis: calc((100% - 90px) / 3);

  & h1 {
    color: var(--primari-color);
    padding-left: 0;
  }

  & li {
    background-color: var(--background-color-white);
  }

  & p {
    color: var(--second-color);
  }

  & a {
    text-decoration: none;
  }

}

.port-wrapper {

  padding: 20px 24px 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-top: none;
}



.portfolio-list-stile {
  margin-bottom: 30px;

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }

}



.img-relative-index {
  position: relative;
}




.h-possition {
  position: absolute;
  bottom: 0;
  display: flex;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  width: 370px;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;


}

.list-box-decor {
  position: relative;
  overflow: hidden;
}

.link-port-decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 90%);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


  & p {

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: #ffffff;
  }

}






.footer-label {
  color: #ffffff;
  display: block;
  font-family: "Roboto", sans-serif;


  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}













.footer-btn-sub {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  &::after {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background-color: var(--decoration-color);
    background-image: url(/imagine/telegramm.svg);
    margin-left: 10px;

  }
}



.my-check-link {
  text-decoration: underline;
}

.li-btn-p {
  padding-top: 94px;
  padding-bottom: 94px;
}

.port-btn-list {
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  background-color: #F5F4FA;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

            .social-footer-link {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: rgba(255, 255, 255, 10%);
              border-radius: 50%;
              fill: #ffffff;
              width: 44px;
              height: 44px;
              transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }

            .footer-list {
              display: flex;
              justify-content: center;
              align-items: center;
            }



            .footer-label {
              text-align: center;
            }




            .footter-link {
              background-color: var(--background-color-dark);
              padding: 60px 0 60px 0;
              height: 630px;
            }


            .logo-link-footer {
              text-decoration: none;
              color: #ffffff;
              margin-bottom: 20px;
              width: 154px;
              margin-right: 0;
              text-align: center;

              font-family: $FontFamRaleweySans;
              font-weight: $FontWeightBold;
              font-size: 24px;
              line-height: 1.17;

            }


           
             
              






            .adress-contc {
              font-weight: 400;
              font-style: normal;
              font-size: 14px;
              line-height: 1.71;
              width: 232px;
            }








            .nav-footter {

              text-align: center;
            }

            .mail-footer {
              text-align: center;
              margin-bottom: 8px;
            }

            .footer-other {
              margin-bottom: 60px;
            }




            .address-footer {
              color: #ffffff;
              font-weight: 400;
              font-size: 14px;
              line-height: 1.71;
              margin-bottom: 9px;
              text-align: center;
              width: 232px;
            }


            .other-footer {
              margin-bottom: 20px;
              color: #ffffff;
              font-weight: 700;
              font-size: 14px;
              line-height: 1.14;
              text-align: center;
            }


            .contacts-footer a {
              color: rgba(255, 255, 255, 0.6);
              text-decoration: none;
              transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
              margin-right: auto;
              margin-left: auto;


              & a:hover,
              & a:focus {
                color: white;
              }

              & a:last-child {
                margin-bottom: 0;
              }
            }


@media screen and (max-width: 479px) {

.footter-in{
  display: inline;
width: 120px;
max-width: 200px;
        
          margin-bottom: 20px;

          height: 50px;
          outline: none;
          border: solid 1px rgba(255, 255, 255, 30%);
          background-color: #2F303A;
          border-radius: 4px;
          padding-left: 16px;
          transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          color: #ffffff;
          margin-top: 20px;
        
          &:focus {
            border: 1px solid var(--decoration-color);
}

            .footer-form {
              display: flex;
              margin-left: auto;
              margin-right: auto;
              width:auto;
            }


}

.submit-btn {

  
 max-width: 200px;
  
}

                 .submit-footer-btn {
                   margin-left: auto;
                   margin-right: auto;
                   width: 120px;
                  
                   border-radius: 4px;
                   background-color: var(--decoration-color);
                   color: #ffffff;
                   padding: 10px 28px 10px 28px;
                  
                 }

                                         .footer-list {
                                           display: flex;
                                           justify-content: center;
                                           align-items: center;
                                           flex-wrap: wrap;
                                         }

                         .foot-l-nav {
                           width: 100%;
                           display: flex;
                           flex-direction: column;
                           align-items: center;
                           justify-content: center;
            
                           margin-bottom: 60px;
                         }

                                                         .footer-list-li {
                                                            margin-bottom: 10px;
                                                            margin-right: 10px;
                                                       
                                                         }
            .footer-form {
              width: 100%;
              text-align: center;
            }
}

    @media screen and (min-width: 480px) {
    .footter-in {
      width: 100vw;
      max-width: 450px;
      margin-bottom: 20px;
      height: 50px;
      outline: none;
      border: solid 1px rgba(255, 255, 255, 30%);
      background-color: #2F303A;
      border-radius: 4px;
      padding-left: 16px;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      color: #ffffff;
      margin-top: 20px;
  
      &:focus {
        border: 1px solid var(--decoration-color);
      }
    }

.submit-btn {

  display: block;
  margin: 40px auto;
  width: 200px;
  height: 50px;
  background-color: var(--decoration-color);
  outline: none;
  border-color: #2196f3;
  border-radius: 4px;
  color: #ffffff;



  font-family: "Roboto", sans-serif;


  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

        .footer-list-li {
    
          &:not(:last-child) {
            margin-right: 10px;
    
          }
        }

            .foot-l-nav {
             
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;
              margin-bottom: 60px;
            }

            .submit-footer-btn {
              margin-left: auto;
              margin-right: auto;
              width: 200px;
              height: 50px;
              border-radius: 4px;
              background-color: var(--decoration-color);
              color: #ffffff;
              padding: 10px 28px 10px 28px;
              display: block;
            }
}
      

      
      
            @media screen and (min-width: 768px) {

                .foot-l-nav {
                    width: 232px;
                    display: inline-block;
                    
                    margin-left: 76px;
                
                  
                  }

                                     

                                     .footer-other {
                                      
                                       top: 5px;
                                       right: 89px;
                                       display: inline-block;
                                       
                                     }

                             

                                    .footer-other {
                                      margin-left: 165px;
                                     position: absolute;
                                     
                                    }

                                   

                                    .footer-form{
                                      margin-right: auto;
                                      margin-left: auto;
                                    
                                    }

                                                                            .footer-label {
                                                                              color: #ffffff;
                                                                              display: block;
                                                                              font-family: "Roboto", sans-serif;
                                      
                                      
                                                                              font-weight: 700;
                                                                              font-size: 14px;
                                                                              line-height: 1.17;
                                                                            }
                  
                  
                  
                                    .social-footer-link {
                                      display: flex;
                                      align-items: center;
                                      justify-content: center;
                                      background-color: rgba(255, 255, 255, 10%);
                                      border-radius: 50%;
                                      fill: #ffffff;
                                      width: 44px;
                                      height: 44px;
                                      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                    }
                  
                                    .footer-list {
                                      display: flex;
                                      justify-content: center;
                                      align-items: center;
                                    }
                  
                  
                  
                                    .footer-label {
                                      text-align: center;
                                    }
                  
                  
                  
                  
                                    .footter-link {
                                      
                                      height: 463px;
                                    }
                  
                  
                                    .logo-link-footer {
                                      text-decoration: none;
                                      color: #ffffff;
                                      margin-bottom: 20px;
                                      width: 154px;
                                      margin-right: 0;
                                      text-align: center;
                                      display: inline-block;
                                      font-family: $FontFamRaleweySans;
                                      font-weight: $FontWeightBold;
                                      font-size: 24px;
                                      line-height: 1.17;
                  
                                    }
                  
                  
                                    .flex-con-foot {
                                   
                                      position: relative;
                                    }
                  
                  
                  
                  
                  
                  
                                    .adress-contc {
                                      font-weight: 400;
                                      font-style: normal;
                                      font-size: 14px;
                                      line-height: 1.71;
                                      width: 232px;
                                    }
                  
                  
                  
                  
                  
                  
                  
                  
                                  
                  
                                 
                  
                                   
                  
                  
                  
                  
                  
                  
                                    .other-footer {
                                      margin-bottom: 20px;
                                      color: #ffffff;
                                      font-weight: 700;
                                      font-size: 14px;
                                      line-height: 1.14;
                                      text-align: center;
                                    }
                  
                  
                                  
            }

                        @media screen and (min-width: 1200px){


            
              .nav-footter {
                margin-top: 9px;
              }

                                 .other-footer {
                     
                                   text-align: left;
                                 }
            
            .footer-other {
              margin-bottom: 30px;
              margin-top: 0;
              margin-right: 0;
              position: static;
              display: inline-block;
              margin-left: 0;
            }

                        .address-footer {
                          
                          text-align: left;
                          
                        }

                     


                        .foot-l-nav {
                         
                          display: inline-block;
                   
                          margin-left: 0;
                          margin-right: 70px;
            
                          margin-bottom: 0;
                        }

                        .footer-form{
                          display: inline-block;
                          text-align: center;
                        
                        }

                     


        

                                 .footter-link {
                                   
                                   height: 252px;
                                 }
            

                                      .my-footer-desc{
                                display: inline-block;
                          
                                width: max-content;

                                      }

                                         .nav-footter {
                    
                                           text-align: left;
                                         }
                    
                                         .mail-footer {
                                           text-align: left;
                                           
                                         }



                                      

            
              .logo-link-footer {
              
                display: block;
                margin-bottom: 20px;
              }
            
            
            
            
             

              .flex-con-foot{
                display: flex;
                justify-content: center;
                align-items: center;
              }
            
            
              .footer-label {
                color: #ffffff;
                display: block;
                font-family: "Roboto", sans-serif;
                text-align: left;
            
            
                font-weight: 700;
                font-size: 14px;
                line-height: 1.17;
              }
            
       
            
              .footter-in:focus {
                border: 1px solid var(--decoration-color);
              }
            
              .footter-in {
                width: 358px;
                height: 50px;
                outline: none;
                border: solid 1px rgba(255, 255, 255, 30%);
                background-color: #2F303A;
                border-radius: 4px;
                padding-left: 16px;
                transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                color: #ffffff;
            
              }
            
              .submit-footer-btn {
                margin-left: 12px;
                width: 200px;
                height: 50px;
                border-radius: 4px;
                background-color: var(--decoration-color);
                color: #ffffff;
                padding: 10px 28px 10px 28px;
                display: inline-block;
              }
            
              .footer-btn-sub::after {
                display: inline-block;
                content: "";
                width: 24px;
                height: 24px;
                background-color: var(--decoration-color);
                background-image: url(/imagine/telegramm.svg);
                margin-left: 10px;
            
              }
            
              .footer-btn-sub {
                font-family: "Roboto", sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: 16px;
                line-height: 1.87;
              }
            
              .contact-form-checkbox-wrapper {
                margin-left: 14px;
              }
            
              .my-check-link {
                text-decoration: underline;
              }


                        }
      
      
      
