
// face

// .client{
//     font-weight: 700;
//      font-size: 36px;
//      line-height: 1.16;
//      display: flex;
//      justify-content: center;
//      margin-bottom: 50px;
   
//  }
 

 
//  .client-list{
 
//   margin-right: 0;

//   &:not(:last-child){
//     margin-right: 30px;
//   }
//  }
 
 
 

 
 
 
//  .client-link{
//      border-radius: 5px;
//   border: solid 1px rgba(175, 177, 184, 1);
//   width: 170px;
//   height: 92px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   fill: #AFB1B8;
  
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus{
//     fill: var(--decoration-color);
//     border: solid 1px var(--decoration-color);
    
//   }
  
//  }
 
//  .client-img{
//    width: 106px;
//    height: 60px;
//  }
 
//  .our-client{
//    padding-top: 94px;
//    padding-bottom: 94px;
//  }
 
//  .cl-list{
//    display: flex;
     
//  }