.footter-link {
    background-color: var(--background-color-dark);
    padding: 60px 0 60px 0;
  }
  
  .nav-footter{
    margin-top: 9px;
  }
  
  
  
  .address-footer {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
  }
  .logo-link-footer {
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 20px;
  }
  

  

  .contacts-footer a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    & a:hover,
    & a:focus {
      color: white;
    }

    & a:last-child {
      margin-bottom: 0;
    }
  }
  
  
  
