
.list-btn button:hover,
.list-btn button:focus {
  background-color: var(--decoration-color);
  color: #ffffff;
}
.list-btn-port{
margin-right: 8px;
}

.list-btn-port:last-child{
  margin-right: 0;
}

/* ----------------project-list -------------------*/

.list-btn {
  background-color: var(--background-color-white);
  display: flex;
  
  justify-content: center;
  margin-bottom: 50px;
}


.li-btn-p{
  padding-top: 94px;
  padding-bottom: 94px;
}

.port-btn-list {
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  background-color: #F5F4FA;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .btn-static:hover{ */
/* padding: 6px 25px 6px 25px; */


.list-btn .btn-static {
  background-color: var(--decoration-color);
  color: #F5F4FA;
  
}

.project-list {
  
  flex-wrap: wrap;
  display: flex;
  box-sizing: border-box;
  flex-basis: calc((100% - 90px) / 3);
}

.port-wrapper {
 
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-top: none;
}

.project-list h1 {
  color: var(--primari-color);
  padding-left: 0;
}

.project-list li {
  background-color: var(--background-color-white);
}

.project-list p {
  color: var(--second-color);
}

.project-list a {
  text-decoration: none;
}

.portfolio-list-stile {
  margin-bottom: 30px;
}

.portfolio-list-stile:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-list-stile:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}


.img-relative-index{
  position: relative;
}




.h-possition{
  position: absolute;
  bottom: 0;
display: flex;
background-color: rgba(47, 48, 58, 0.8);
color: #ffffff;
width: 370px;
height: 70px;
justify-content: center;
align-items: center;
font-weight: 700;
font-size: 14px;
line-height: 1.14;


}

.list-box-decor{
  position: relative;
  overflow: hidden;
}

.link-port-decor{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
    background-color: rgba(33, 150, 243, 90%);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-port-decor p{

font-weight: 400;
font-size: 18px;
line-height: 1.55;
  color: #ffffff;
}


.my-hover:hover .link-port-decor{
  transform: translateY(0);
}


