:root {
  /* index */
  --primari-color: #212121;
  --second-color: #757575;
  --decoration-color: #2196f3;
  --background-color-white: #ffffff;
  --background-color-dark: #2f303a;
  /* Portfolio */
  --color-button-portfolio: #f5f4fa;
}

$FontWeightRegular: 400;
$FontWeightBold: 700;
$FontWeightBlack: 900;
$FontWeightMedium: 500;
$FontFamRobotoSans: "Roboto", sans-serif ;
$FontFamRaleweySans: "Raleway", sans-serif;