// .modal{
//     padding: 40px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%) scale(0.9);
//     transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
//     width: 528px;
//     height: 581px;
//     background-color: #ffffff;
  
//   }

//   .close-btn{
//     position: absolute;
//     top: 8px;
//     right: 8px;
//     border-radius: 50%;
//     width: 30px;
//     height: 30px;
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     background-color: transparent;
//     padding: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }

//   .backdrop.is-hidden .modal{
//     transform: translate(-50%, -50%) scale(1);
  
//   }
  
//   .backdrop.is-hidden{
//    opacity: 1;
//    visibility: visible;
//    pointer-events: fill;
//   }
  
//    .close-btn:focus{
//     fill: var(--decoration-color)
//   }

//   .backdrop{
//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     background-color: rgba(0, 0, 0, 0.2);
//   transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1) ;
//   }
  
  
//   .a-list:hover,
//   .a-list:focus{
//     color: var(--decoration-color);
//   }
  
  
  
//   .contact-form-message:focus{
//     border: solid 1px var(--decoration-color);
//     outline: none;
//   }
  
//   .contact-form-message::placeholder{
//     color: rgba(117, 117, 117, 0.5)
  
  
//   }
  
//   .contact-form-message{
//     border: solid 1px rgba(33, 33, 33, 0.2);;
//     border-radius: 4px;
//     resize: none;
//     padding: 12px;
//     width: 100%;
//     min-height: 120px;
//   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
//     font-family: "Roboto", sans-serif;
//   display: block;
//   margin-bottom: 4px;
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 1.17;
  
//   }
  
//   .my-wripper-div{
//   position: relative;
//   display: block;
//   }
  
//   .my-svg-wrapper{
//     width: 18px;
//     height: 18px;
//     position: absolute;
//     top: 50%;
//     left: 12px;
//     transform: translateY(-50%);
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
  
  
//   .label-form-style{
//     font-family: "Roboto", sans-serif;
//    display: block;
//    margin-bottom: 4px;
//    font-weight: 400;
//    font-size: 12px;
//    line-height: 1.17;
  
   
//    color: #757575;
//   }
  
//   .form-p{
//     font-family: "Roboto", sans-serif;
//     font-weight: 700;
//     font-size: 20px;
//     line-height: 1.17;
//   margin-bottom: 12px;
//     display: block;
  
//   text-align: center;
  
//   }
  
  
//   .contact-form-input:focus{
//     border-color: var(--decoration-color);
//     outline: none;
//   }
  
//   .contact-form-input:focus + .my-svg-wrapper{
//     fill: var(--decoration-color);
//   }
  
//   .contact-form-input{
//     width: 100%;
//    height: 40px;
//    border: solid 1px rgba(33, 33, 33, 0.2);
//    border-radius: 4px;
//   padding-left: 42px;
//   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
  
//   .contact-form-filed:not(:last-child){
//     margin-bottom: 10px;
//     display: block;
//   }
  
  
  
  
  
  
//   .contact-chckbox:checked + .contact-form-checkbox-label::before{
  
//   background-image: url(./imagine/popitka-two.svg);
//     background-color: var(--decoration-color);
  
//     background-size: contain;
//     background-repeat: no-repeat;
//     border: solid 0.2px var(--decoration-color);
//     box-shadow: inset 0 0 0 1px var(--decoration-color);
//   }
  
  
//   .contact-chckbox:focus + .contact-form-checkbox-label::before{
//     border: solid 1px var(--decoration-color);
//     box-shadow: inset 0 0 0 1px var(--decoration-color);
//   }
  
//   .contact-form-checkbox-label::before{
//     display: inline-block;
//     box-shadow: inset 0 0 0 1px #000000;
  
//     border-radius: 2px;
//     content: "";
//     width: 16px;
//     height: 15px;
//     border: 1px solid #212121;
//     cursor: pointer;
//   margin-right: 7px;
//   transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//    }
  
  
  
//   .contact-form-checkbox-label{
//     font-family: "Roboto", sans-serif;
//    display: flex;
//     align-items: center;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     color: rgba(117, 117, 117, 1);
    
//   }

//   .submit-btn{

//     display: block;
//     margin: 40px auto;
//     width: 200px;
//     height: 50px;
//     background-color: var(--decoration-color);
//     outline: none;
//     border-color: #2196f3;
//     border-radius: 4px;
//     color: #ffffff;
    
  
  
//     font-family: "Roboto", sans-serif;
  
  
//      font-weight: 700;
//      font-size: 16px;
//      line-height: 1.87;
//   }
  
//   .close-btn:hover{
//     fill: var(--decoration-color);
//   }
  
//   .my-check-link{
//     color: var(--decoration-color);
//     text-decoration: none;
//   }
  