// .head a {
//     font-family: "Raleway", sans-serif;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//   }
  
//   a{
//     text-decoration: none;
//   }
  

  
//   *,
//   *::before,
//   *::after {
//     box-sizing: border-box;
//   }
  
//   li, p, ul, h1, h2 ,h3 , h4, h5, h6{
//     margin: 0;
//     padding: 0;
//   }

//   .flex-con {
//     display: flex;
//   }
  
//   .flex-con-foot {
//     display: flex;
//     align-items: baseline;
//   }

